@font-face {
  font-family: "Poppins";
  src: url("~assets/fonts/poppins-regular-webfont.woff") format("woff");
  font-display: swap;
}

a {
  color: $orange !important;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

p,
li {
  font-size: 18px;
}
