// colors
$dark: #272727;
$orange: #ffa726;

.bg-dark {
  background-color: $dark;
}

.bg-dark-light {
  background-color: rgba($dark, 0.5);
}

.bg-orange {
  background-color: $orange;
}

.txt-orange {
  color: $orange;
}
